/out/
/resources/public/js/compiled/
/resources/config.edn
/target/
/*-init.clj
/*.log
/*.clj-kondo/
/.lsp/
/.calva/

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
